@font-face {
    font-family: kimberley;
    src: url("../fonts/kimberley.ttf");
}

@font-face {
    font-family: AvenirBold;
    src: url("../fonts/AvenirLTStd-Black.otf")
}

@font-face {
    font-family: Avenir;
    src: url("../fonts/AvenirLTStd-Book.otf")
}

body{
    font-family: Avenir;
}

.text_accueil_non_connecte {
    position: absolute;
    z-index: 1;
    padding-left: 40px;
    padding-top: 120px;

}

.carousel.afade {
    opacity: 1;
}

.carousel.afade .item {
    transition: opacity ease-out .7s;
    left: 0;
    opacity: 0; /* hide all slides */
    top: 0;
    position: absolute;
    width: 100%;
    display: block;
}

.carousel.afade .item:first-child {
    top: auto;
    opacity: 1; /* show first slide */
    position: relative;
}

.carousel.afade .item.active {
    opacity: 1;
}

#caroussel_accueil_non_connecte {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#caroussel_accueil_non_connecte, #caroussel_accueil_non_connecte .item, #caroussel_accueil_non_connecte .active, #caroussel_accueil_non_connecte .carousel-inner {
    height: 100vh;
}

#caroussel_accueil_non_connecte .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
}

.modalAccueil .modal-header, .modalAccueil h4, .modalAccueil .close {
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.firstconnexionpage{
    background-color: #141414;
    width: 100%;
    height: 100%;
}

.entete_firstconnexion{
    color:white;
    margin-left: 50px;
}

.instructionFirstConnexion{
    font-size: 2em;
}

.flixnet_logo {
    font-family: kimberley, sans-serif;
    font-size: 7em;
    font-style: oblique;
    color: #E0E0E0;
    text-shadow: 2px 2px 2px darkgray;
    letter-spacing: 0.2em;
}

.imgSeriesFirstConnexion{
    width: 80%;
    border: 2px white solid;
    border-radius: 5px;
    box-shadow: 1px 1px 12px #555;
}

.boutonFirstConnexion{
    margin-top: 30px;
}